.card-flex{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
#card-head{
    width: 700px;
    position: absolute;
    left: 300px; 
}
.card-foot{
    position: absolute;
    display: flex;
    gap: 30px;
}
#card-f{
    position: absolute;
    top: 1170px;
    left: 500px;
}
h3{
    position:relative;
    left: 20px;
}
#simple2{
    background-image: url(https://image.shutterstock.com/image-photo/mountains-during-sunset-beautiful-natural-260nw-407021107.jpg);
    background-repeat: no-repeat;
    width: 500px;
}

#article{
    display: flex;
    gap: 40px;
    margin: 50px;
    color: white;
}
body{
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
li{
    margin-top: 20px;
}